.grant-title {
  font-size: 20px;
  color: #666;
}
.grant-div{
  display: inline;
  float: left;
  line-height: 30px;
  text-align: left;
}

.search-div{
  display: inline;
  float: right;
  margin-bottom: 25px;
}

.wd-date .mp-date-input{width:100%!important;}
