<div class="content-padding">
    <div class="content-body">
        <table class="table">
            <thead>
            <tr>
                <th colspan="8" class="tlr">
                    <div class="grant-div">
                        <span class="grant-title">详情查看:</span>
                    </div>
                    <div class="ib Searchfor">
                      <input style="width:285px;" type="text" class="ml5 ib form-control" ng-keyup="grantdit.pageIndex=1;cash.queryKeyUp($event)" ng-model="grantdit.inputText" placeholder="请输入发放网点关键字/VIN/网点代码"/>
                      <span class="glyphicon glyphicon-search" ng-click="grantdit.pageIndex=1;grantdit.changeData()"></span>                    </div>
                    <button ng-click="grantdit.getExecl()" class="btn btn-default btn-small" type="button">导出</button>
                    <button ng-click="grantdit.cancel()" class="btn btn-default btn-small" type="reset">返回</button>

                </th>
            </tr>
            <tr>
              <th colspan="10">
                <div class="obj wh70 fl Hfilter">地域：</div>
                <div class="obj col-sm-4">
                  <div class="col-sm-4 ib">
                    <select ng-change="grantdit.changeProvince()" ng-model="grantdit.provinceId" class="form-control" id="pName"
                            ng-options="item.id as item.name for item in grantdit.AreaList" >
                      <option value="" selected="selected">全选</option>
                    </select>
                  </div>
                  <span class="ib Hfilter col-sm-1" style="text-align: center;">省</span>
                  <div class="col-sm-4 ib">
                    <select ng-change="grantdit.changeCity()" ng-model="grantdit.cityId" class="form-control" id="cName"
                            ng-options="item.id as item.name for item in grantdit.CityList">
                      <option value="" selected="selected">全选</option>
                    </select>
                  </div>
                  <span class="ib Hfilter col-sm-1" style="text-align: center;">市</span>
                </div>


                <div class="obj wh85 fl Hfilter">已发放数量：</div>
                <div class="obj col-sm-4">
                  <div class="col-sm-2 ib" >
                     <input type="text" id="grantNumberSmall"  class="form-control"  ng-blur="grantdit.grantNumberList()" ng-model="grantdit.sendQuantitySmall" >
                  </div>
                  <span class="ib Hfilter col-sm-1" style="text-align: center;">至</span>
                  <div class="col-sm-2 ib">
                    <input type="text" id="grantNumberBig" class="form-control" ng-blur="grantdit.grantNumberList()" ng-model="grantdit.sendQuantityBig" >
                  </div>
                 </div>


              </th>


            </tr>
            <tr>
                <th>发放网点</th>
                <th>网点代码</th>
                <th>所属省</th>
                <th>所属市</th>
                 <th>发放限额</th>
                <th>已发放数量<span style="margin-left: 3px;" ng-if="!grantdit.controlOrderLeft" class="glyphicon glyphicon-circle-arrow-up" ng-click="grantdit.orderCheck()"></span><span style="margin-left: 3px;" ng-if="grantdit.controlOrderLeft" class="glyphicon glyphicon-circle-arrow-up" ng-click="grantdit.orderCheck()"></span></th>
                <th>剩余数量<span style="margin-left: 3px;" ng-if="!grantdit.controlOrderRight" class="glyphicon glyphicon-circle-arrow-up" ng-click="grantdit.orderCheckRight()"></span><span style="margin-left: 3px;" ng-if="grantdit.controlOrderRight" class="glyphicon glyphicon-circle-arrow-up" ng-click="grantdit.orderCheckRight()"></span></th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="obj in grantdit.grantditData">
                <td>{{obj.stationName}}</td>
                <td>{{obj.stationId}}</td>
                <td>{{obj.provinceName}}</td>
                <td>{{obj.cityName}}</td>
                <td>{{obj.quantity}}<span ng-if="grantdit.unitTool(obj.quantity+'')">{{obj.unit}}</span></td>
                <td>{{obj.sendQuantity}}<span ng-if="grantdit.unitTool(obj.sendQuantity+'')">{{obj.unit}}</span></td>
                <td>{{obj.restQuantity}}<span ng-if="grantdit.unitTool(obj.restQuantity+'')">{{obj.unit}}</span></td>
                <td>
                    <a ui-sref="tservice.grantinfo({id:obj.stationId,actId:grantdit.id,sType:obj.stationType})">详情</a>
                </td>
            </tr>
            <tr ng-if="grantdit.grantditData.length === 0">
                <td colspan="10" style="text-align: center;">无数据</td>
            </tr>
            </tbody>
        </table>
    </div>
    <wd-page-number total="grantdit.total" page-size="grantdit.pageSize" page-index="grantdit.pageIndex"
                    query="grantdit.flip"></wd-page-number>
</div>
<!--
<script>
  var grantNumberSmall = document.getElementById('grantNumberSmall');
  grantNumberSmall.onkeyup=function (event) {
    var value = this.value;
    if(value=='') {
      this.value = value.substring(0, value.length-1);
    }
  };
  var grantNumberBig = document.getElementById('grantNumberBig');
  grantNumberBig.onkeyup=function (event) {
    var value = this.value;
    if(value=='') {
      this.value = value.substring(0, value.length-1);
    }
  };

</script>
-->
