
.buildnew p{border:none;box-shadow: none;}
.buildnew   .form-group{margin-bottom:5px;margin-left:15px;}

/*.amp-icon {
  width: 27px;
  height: 37px;
  background: url(../assets/images/icon.png) no-repeat 0 0;
  background-position: -75px 0
}*/

.amp-icon-start {
  background-position: -38px 0
}
/*.amp-icon-end {
  width: 25px;
  height: 37px;
  background: url(../assets/images/gj_err.png) no-repeat 0 0;
}*/
.mapbg{position:absolute;top:0;left:0;height: 430px;width: 800px;opacity:0;z-index:999}


