.rule-title {
  font-size: 20px;
  color: #666;
}
.rule-div{
  display: inline;
  float: left;
  line-height: 30px;
}

.search-div{
  display: inline;
  float: right;
}
.wd-date .mp-date-input{width:100%!important;}
