<div class="col-sm-6 col-sm-offset-3 aboutus">
    <div class="col-sm-12 aboutusLogo">
      <img src="/assets/images/carlogo.png" alt="logo"/>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-3 col-sm-offset-2 inforLeft">地址：</div>
        <div class="col-sm-4 ">青岛市汽车产业新城石泉路2号</div>
    </div>
    <div  class="col-sm-12">
        <div class="col-sm-3 col-sm-offset-2 inforLeft">邮编：</div>
        <div class="col-sm-4">266217</div>
    </div>
    <div  class="col-sm-12">
        <div class="col-sm-3 col-sm-offset-2 inforLeft">服务热线：</div>
        <div class="col-sm-4">4006-345-666</div>
    </div>
    <div  class="col-sm-12">
        <div class="col-sm-3 col-sm-offset-2 inforLeft">产品销售电话：</div>
        <div class="col-sm-4">0532-84913576</div>
    </div>
    <div  class="col-sm-12">
        <div class="col-sm-3 col-sm-offset-2 inforLeft">备品备件电话：</div>
        <div class="col-sm-4">0532-84913562</div>
    </div>
</div>
