.aboutus{text-align: center;background:#fff;height:300px;margin-top:100px;font-size:20px;line-height: 35px;color:#666;}
.aboutus div{text-align: center}
.aboutus .inforLeft{text-align:right ;}
.aboutusLogo{text-align: center;margin:30px 0;}