<div class="modal-body">
   <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" action="" name="add_form" ng-submit="supplysourcecheck.submit($event,add_form)" novalidate="">
    <!--------------------------------------身份信息认证-------------------------------------------->
    <h5 class="h5title">身份信息认证 <button type="button" class="btn btn-default btn-small ml15"  ng-click="supplysourcecheck.personRecordUp()">人工补录</button></h5>
     <div class="ml80">
      <div class="form-group">
        <label  class="col-sm-1 control-label" style="text-align: left;min-width:80px;">提交申请时间：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.commitTime}}</label>
        <label  class="col-sm-3 control-label pa"  style="left: 300px; top: 30px;">头像：</label>
        <label  class="col-sm-1 control-label">
            <img ng-src="{{supplysourcecheck.realPhoto}}"  ng-click="supplysourcecheck.openImg(supplysourcecheck.realPhoto)"   onerror="this.style.display='none'" class="pa wh80 ht80" style="left: 450px; top: 10px;z-index:99" >
          <span class="pa fred" style="left: 550px; top:40px;" ng-show="supplysourcecheck.memberPhotoIsNew=='1'?true:false" >(新提交)</span>
        </label>
      </div>
      <div class="form-group">
        <label  class="col-sm-1 control-label"  style="text-align: left;">用户姓名：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.realName}}</label>
      </div>
      <div class="form-group">
        <label  class="col-sm-1 control-label"  style="text-align: left;">身份证号：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.identityNo}}</label>
      </div>
      <div class="form-group" ng-show="supplysourcecheck.addrecordup">
        <label  class="col-sm-1 control-label"  style="text-align: left;min-width:100px;">身份证失效日期：</label>
        <div class="obj wd-date col-sm-5">
          <div class="mp-date-time-pick ib col-sm-9">
            <wd-date-picker class="ib col-sm-5" format="yyyy-mm-dd" ng-model="supplysourcecheck.inforecord.idCardInvalidDate" style="width: 182px;">
            </wd-date-picker>
           </div>
        </div>
       </div>
      <div class="form-group">
        <div class="col-sm-4" style="text-align: left;">
          <label  class=" control-label"  style="text-align: left;">身份证正面照：
            <span class="fred" ng-show="supplysourcecheck.idcardIsNew=='1'?true:false">(新提交)</span></label>
          <div class="col-sm-offset-3" style="text-align: left;">
            <label  class="control-label" style="text-align: left">
              <img ng-src="{{supplysourcecheck.idFrontPhoto}}"  ng-click="supplysourcecheck.openImg(supplysourcecheck.idFrontPhoto)"  onerror="this.style.display='none'" class="wh260" style="max-height:300px;"></label>
           </div>
        </div>
        <div class="col-sm-6" style="text-align: left;">
          <label  class="control-label"  style="text-align: left;">身份证反面照：
            <span class="fred" ng-show="supplysourcecheck.idcardIsNew=='1'?true:false">(新提交)</span></label>
          <div class="col-sm-offset-2" style="text-align: left;">
            <label  class="col-sm-6  control-label" style="text-align: left">
              <img ng-src="{{supplysourcecheck.idBackPhoto}}" ng-click="supplysourcecheck.openImg(supplysourcecheck.idBackPhoto)" onerror="this.style.display='none'" class="wh260" style="max-height:300px;"></label>
          </div>

        </div>
        <div style="clear: both"></div>
       </div>
      <div class="form-group">
        <div  style="text-align: left;">
          <label  class="control-label"  style="text-align: left;">驾驶证照片：
            <span class="fred" ng-show="supplysourcecheck.drivingLicenseIsNew=='1'?true:false">(新提交)</span>
          </label>
        </div>
        <div class="col-sm-3 col-sm-offset-1" style="min-width: 280px;">
          <label  class="control-label"><img ng-src="{{supplysourcecheck.drivingLicensePhoto}}" ng-click="supplysourcecheck.openImg(supplysourcecheck.drivingLicensePhoto)" onerror="this.style.display='none'" class="wh260"  style="max-height:300px;"></label>
         </div>
        <div class="col-sm-6" ng-show="supplysourcecheck.addrecordup">
          <div class="form-group">
            <label for="drivecard" class="col-sm-2 control-label" style="text-align: left;min-width: 94px;">驾驶证号：</label>
               <div class="col-sm-2  wh182">
                 <input ng-model="supplysourcecheck.inforecord.drivingLicense" type="text" id="drivecard" class="form-control" name="drivecard" ng-pattern="/^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/"  >
                 <div wd-messages="drivecard">
                   <div wd-message="pattern">驾驶证号同身份证号规则 15或18位</div>
                 </div>
               </div>
           </div>
          <div class="form-group" >
            <label  class="col-sm-2 control-label" style="text-align: left;min-width: 94px;">准驾车型：</label>
            <div  class="col-sm-2 control-label"  >
              <select  ng-model="supplysourcecheck.inforecord.drivingType" name="modelNumber" id="modelNumber" class="form-control wh182" ng-options="item.key as item.value for item in supplysourcecheck.modelType" >
                <option value="" selected="selected">请选择</option>
              </select>
            </div>
            </div>
          <div class="form-group">
            <label  for="drivelicense" class="col-sm-2 control-label" style="text-align: left;min-width: 94px;" >驾驶证档案编号：</label>
            <div class="col-sm-2  wh182">
              <input ng-model="supplysourcecheck.inforecord.drivingLicenseFileNo" type="text" id="drivelicense" class="form-control" name="drivelicense"  ng-pattern="/^[0-9]{12}$/" >
              <div wd-messages="drivelicense">
                  <div wd-message="pattern">驾驶证档案编号为12位阿拉伯数字</div>
              </div>
            </div>
           </div>
          <div class="form-group">
            <label  class="col-sm-2 control-label" style="text-align: left;min-width:94px;">驾驶证过期时间：</label>
            <div class="obj wd-date col-sm-4">
              <div class="mp-date-time-pick ib col-sm-9" style="margin-left: -3px;">
                <wd-date-picker class="ib col-sm-8 wh182" format="yyyy-mm-dd" ng-model="supplysourcecheck.inforecord.drivingLicenseInvalidDate" >
                </wd-date-picker>
              </div>
            </div>
           </div>
        </div>

      </div>
    </div>
    <!--------------------------------------车辆信息-------------------------------------------->
    <h5 class="h5title">车辆信息 <button type="button" class="btn btn-default btn-small ml15"  ng-click="supplysourcecheck.personRecordDown()">人工补录</button></h5>
    <div class="ml80">
      <div class="form-group">
             <div  style="text-align: left;">
               <label  class="control-label"  style="text-align: left;">行驶证照片：
                 <span class="fred" ng-show="supplysourcecheck.vehicleLicenseIsNew=='1'?true:false">(新提交)</span>
               </label>
             </div>
          <div class="col-sm-offset-1"><img ng-src="{{supplysourcecheck.vehicleLicensePhoto}}" ng-click="supplysourcecheck.openImg(supplysourcecheck.vehicleLicensePhoto)" onerror="this.style.display='none'" style="max-width:450px;min-width:400px;max-height:450px;min-height: 400px;"></label>
          </div>
      </div>
      <div>
        <div>
          <div class="col-sm-4">
            <div>
              <div class="form-group" >
                <label  class="col-sm-3 control-label"  style="text-align: left;min-width:138px;">车牌号：</label>
                <div class="col-sm-4" style="margin-top: 5px;">{{supplysourcecheck.carNumber}}</div>
              </div>
            </div>
            <div ng-show="supplysourcecheck.addrecorddown">
              <div class="form-group">
                <label for="vehicleidentify" class="col-sm-3 control-label"  style="text-align: left;min-width:138px;">车辆识别代码（后6位）：</label>
                <div class="col-sm-4">
                  <input ng-model="supplysourcecheck.inforecord.carVin" type="text" id="vehicleidentify" class="form-control col-sm-11" name="vehicleidentify" ng-pattern="/^[a-zA-Z0-9]{6}$/">
                  <div wd-messages="vehicleidentify">
                    <div wd-message="pattern">车辆识别代码为6位英文字母和阿拉伯数字</div>
                  </div>
                </div>

              </div>
              <div class="form-group">
                <label for="engine" class="col-sm-3 control-label"  style="text-align: left;min-width:138px;">发动机号（后6位）：</label>
                <div class="col-sm-4">
                  <input ng-model="supplysourcecheck.inforecord.engineNo" type="text" id="engine" class="form-control col-sm-11" name="engine" ng-pattern="/^[a-zA-Z0-9]{6}$/" >
                  <div wd-messages="engine">
                    <div wd-message="pattern">发动机号为6位英文字母和阿拉伯数字</div>
                  </div>
                </div>

              </div>
              <div class="form-group">
                <label  class="col-sm-3 control-label"  style="text-align: left;min-width:138px;">行驶证过期时间：</label>
                <div class="obj wd-date col-sm-4">
                  <div class="mp-date-time-pick ib col-sm-9" style="margin-left: -3px;">
                    <wd-date-picker class="ib col-sm-8" style="width: 135%;" format="yyyy-mm-dd" ng-model="supplysourcecheck.inforecord.vehicleLicenseInvalidDate">
                    </wd-date-picker>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div >
              <div class="form-group">
                <label class="col-sm-3 control-label" style="text-align: left;min-width:138px;">车型：</label>
                <div class="col-sm-4" style="margin-top: 5px;">{{supplysourcecheck.carType}}</div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" style="text-align: left;min-width:138px;">车厢长(米)：</label>
                <div class="col-sm-4" style="margin-top: 5px;" ng-if="supplysourcecheck.carLength!=null">{{supplysourcecheck.carLength}}m</div>
              </div>
            </div>

            <div  ng-show="supplysourcecheck.addrecorddown">

              <div class="form-group">
                <label for="limitamount" class="col-sm-3 control-label" style="text-align: left;min-width:138px;">核定载质量/kg：</label>
                <div class="col-sm-4">
                  <input ng-model="supplysourcecheck.inforecord.carWeight" type="text" id="limitamount" class="form-control col-sm-11" name="limitamount"  ng-pattern="/^[0-9]*$/">
                  <div wd-messages="limitamount">
                    <div wd-message="pattern">核定载质量只能为阿拉伯数字</div>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <label for="carwidth" class="col-sm-3 control-label" style="text-align: left;min-width:138px;">车宽/mm：</label>
                <div class="col-sm-4">
                  <input ng-model="supplysourcecheck.inforecord.carWidth" type="text" id="carwidth" class="form-control col-sm-11" name="carwidth" ng-pattern="/^[0-9]*$/">
                  <div wd-messages="carwidth">
                    <div wd-message="pattern">车宽只能为阿拉伯数字</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
      <div style="clear: both"></div>
      </div>
   </div>

    <!--------------------------------------第三方审核意见-------------------------------------------->
    <h5 class="h5title">第三方审核意见</h5><!-- ng-if="supplysourcecheck.thirdOpinion"-->
    <div class="ml80"><!-- ng-if="supplysourcecheck.thirdOpinion"--><!--无论审核状态是什么，第三方都显示-->
      <div class="form-group">
        <label  class="col-sm-1 control-label"  style="text-align: left;">审核时间：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.reviewTime}}</label>
      </div>
      <div class="form-group">
        <label  class="col-sm-1 control-label"  style="text-align: left;">审核结论：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.reviewResult}}</label>
      </div>
       <div class="form-group">
        <label  class="col-sm-1 control-label"  style="text-align: left;">审核类型：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;min-width:85px;">身份证实名认证</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">审核结论：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;"  ng-class="{true: 'fred', false: ''}[supplysourcecheck.thirdIdNoValidStatus=='已在陆鲸认证过']">{{supplysourcecheck.thirdIdNoValidStatus}}</label>
        <label  class="col-sm-1 control-label ml7"  style="text-align: left;">审核意见：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.thirdIdNoValidReason}}</label>
      </div>
      <div class="form-group">
        <label  class="col-sm-1 control-label"  style="text-align: left;">审核类型：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">身份证</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">审核结论：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;"  ng-class="{true: 'fred', false: ''}[supplysourcecheck.thirdIdCardValidStatus=='已在陆鲸认证过']">{{supplysourcecheck.thirdIdCardValidStatus}}</label>
        <label  class="col-sm-1 control-label ml7"  style="text-align: left;">审核意见：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.thirdIdCardValidReason}}</label>
      </div>
      <div class="form-group">
        <label  class="col-sm-1 control-label"  style="text-align: left;">审核类型：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">驾驶证</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">审核结论：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;"  ng-class="{true: 'fred', false: ''}[supplysourcecheck.thirdDrivingLicenseValidStatus=='已在陆鲸认证过']">{{supplysourcecheck.thirdDrivingLicenseValidStatus}}</label>
        <label  class="col-sm-1 control-label ml7"  style="text-align: left;">审核意见：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.thirdDrivingLicenseValidReason}}</label>
      </div>
      <div class="form-group">
        <label  class="col-sm-1 control-label"  style="text-align: left;">审核类型：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">行驶证</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">审核结论：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;"  ng-class="{true: 'fred', false: ''}[supplysourcecheck.thirdVehicleLicenseValidStatus=='已在陆鲸认证过']">{{supplysourcecheck.thirdVehicleLicenseValidStatus}}</label>
        <label  class="col-sm-1 control-label ml7"  style="text-align: left;">审核意见：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.thirdVehicleLicenseValidReason}}</label>
      </div>
      <div class="form-group">
        <label  class="col-sm-1 control-label"  style="text-align: left;">审核类型：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">真实头像</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">审核结论：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;" ng-class="{true: 'fred', false: ''}[supplysourcecheck.thirdMemberPhotoValidStatus=='已在陆鲸认证过']">{{supplysourcecheck.thirdMemberPhotoValidStatus}}</label>
        <label  class="col-sm-1 control-label ml7"  style="text-align: left;">审核意见：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.thirdMemberPhotoValidReason}}</label>
      </div>
    </div>

     <!--------------------------------------人工审核-------------------------------------------->
    <h5 class="h5title" ng-if="supplysourcecheck.manualSwitch!=0">人工审核：</h5>
      <div  class="ml80" ng-if="supplysourcecheck.manualSwitch!=0&&supplysourcecheck.showselview">
         <div class="form-group">
          <label  class="col-sm-1 control-label"  style="text-align: left;">审核类型：</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;min-width: 85px;" >身份证实名认证</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;">审核结论：</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.inforecord.realNameValidResult=="4"?'通过':"不通过"}}</label>
          <label  class="col-sm-1 control-label ml7"  style="text-align: left;">审核意见：</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.inforecord.realNameValidReason}}</label>
        </div>
        <div class="form-group">
          <label  class="col-sm-1 control-label"  style="text-align: left;">审核类型：</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;">身份证</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;">审核结论：</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.inforecord.idCardValidResult=="4"?'通过':"不通过"}}</label>
          <label  class="col-sm-1 control-label ml7"  style="text-align: left;">审核意见：</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.inforecord.idCardValidReason}}</label>
        </div>
        <div class="form-group">
          <label  class="col-sm-1 control-label"  style="text-align: left;">审核类型：</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;">驾驶证</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;">审核结论：</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.inforecord.drivingLicenseResult=="4"?'通过':"不通过"}}</label>
          <label  class="col-sm-1 control-label ml7"  style="text-align: left;">审核意见：</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.inforecord.drivingLicenseReason}}</label>
        </div>
        <div class="form-group">
          <label  class="col-sm-1 control-label"  style="text-align: left;">审核类型：</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;">行驶证</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;">审核结论：</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.inforecord.vehicleLicenseResult=="4"?'通过':"不通过"}}</label>
          <label  class="col-sm-1 control-label ml7"  style="text-align: left;">审核意见：</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.inforecord.vehicleLicenseReason}}</label>
        </div>
        <div class="form-group">
          <label  class="col-sm-1 control-label"  style="text-align: left;">审核类型：</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;">真实头像</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;">审核结论：</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.inforecord.memberValidResult=="4"?'通过':"不通过"}}</label>
          <label  class="col-sm-1 control-label ml7"  style="text-align: left;">审核意见：</label>
          <label  class="col-sm-1 control-label"  style="text-align: left;">{{supplysourcecheck.inforecord.memberValidReason}}</label>
        </div>
      </div>
    <!--------------------------------------分割线-------------------------------------------->
     <div class="ml80" ng-if="supplysourcecheck.manualSwitch!=0&&supplysourcecheck.selview">
      <div class="form-group" >
        <label  class="col-sm-1 control-label"  style="text-align: left;">审核类型：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left; min-width:85px;">身份证实名认证</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">*审核结论：</label>
        <label for="firstConclusion" class="col-sm-1 control-label wh100"  style="text-align: left;">
          <select  ng-model="supplysourcecheck.inforecord.realNameValidResult"  name="firstConclusion" id="firstConclusion" class="form-control"  ng-options="item.key as item.value for item in supplysourcecheck.auditconclusion" required >
            <option value="" selected="selected" >请选择</option>
           </select>
          <div wd-messages="firstConclusion">
            <div wd-message="required">审核结论为必填项</div>
          </div>
        </label>
        <label for="auditOpinionOne" class="col-sm-1 control-label ml7"  style="text-align: left;">审核意见：</label>
        <div class="col-sm-4">
          <textarea ng-model="supplysourcecheck.inforecord.realNameValidReason" id="auditOpinionOne" rows="1" name="auditOpinionOne" class="form-control ng-pristine ng-valid" placeholder="最多支持50个汉字" ng-disabled="supplysourcecheck.inforecord.realNameValidResult=='4'?true:false"  ng-required="supplysourcecheck.inforecord.realNameValidResult=='3'?true:false"
                    ng-pattern="/^[a-zA-Z0-9_\u4e00-\u9fa5]{1,50}$/"></textarea>
          <div wd-messages="auditOpinionOne">
            <div wd-message="required">审核意见在审核结论为不通过时为必填项</div>
            <div wd-message="pattern">最多支持50个汉字</div>
          </div>
        </div>

      </div>
      <div class="form-group">
        <label  class="col-sm-1 control-label"  style="text-align: left;">审核类型：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">身份证</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">*审核结论：</label>
        <label for="secConclusion" class="col-sm-1 control-label wh100"  style="text-align: left;">
          <select ng-model="supplysourcecheck.inforecord.idCardValidResult"  name="secConclusion" id="secConclusion" class="form-control"  ng-options="item.key as item.value for item in supplysourcecheck.auditconclusion" required>
            <option value="" selected="selected">请选择</option>
           </select>
          <div wd-messages="secConclusion">
            <div wd-message="required">审核结论为必填项</div>
          </div>
        </label>
        <label for="auditOpinionTwo" class="col-sm-1 control-label ml7"  style="text-align: left;">审核意见：</label>
        <div class="col-sm-4">
          <textarea ng-model="supplysourcecheck.inforecord.idCardValidReason" id="auditOpinionTwo" rows="1" name="auditOpinionTwo" class="form-control ng-pristine ng-valid" placeholder="最多支持50个汉字" ng-disabled="supplysourcecheck.inforecord.idCardValidResult=='4'?true:false"  ng-required="supplysourcecheck.inforecord.idCardValidResult=='3'?true:false" ng-pattern="/^[a-zA-Z0-9_\u4e00-\u9fa5]{1,50}$/"></textarea>
          <div wd-messages="auditOpinionTwo">
            <div wd-message="required">审核意见在审核结论为不通过时为必填项</div>
            <div wd-message="pattern">最多支持50个汉字</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-1 control-label"  style="text-align: left;">审核类型：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">驾驶证</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">*审核结论：</label>
        <label for="thirdConclusion" class="col-sm-1 control-label wh100"  style="text-align: left;">
          <select  ng-model="supplysourcecheck.inforecord.drivingLicenseResult"  name="thirdConclusion" id="thirdConclusion" class="form-control"  ng-options="item.key as item.value for item in supplysourcecheck.auditconclusion" required>
            <option value="" selected="selected">请选择</option>
          </select>
          <div wd-messages="thirdConclusion">
            <div wd-message="required">审核结论为必填项</div>
          </div>
        </label>
        <label for="auditOpinionThr" class="col-sm-1 control-label ml7"  style="text-align: left;">审核意见：</label>
        <div class="col-sm-4">
          <textarea  ng-model="supplysourcecheck.inforecord.drivingLicenseReason" id="auditOpinionThr" rows="1" name="auditOpinionThr" class="form-control ng-pristine ng-valid" placeholder="最多支持50个汉字"
                    ng-required="supplysourcecheck.inforecord.drivingLicenseResult=='3'?true:false"
                     ng-disabled="supplysourcecheck.inforecord.drivingLicenseResult=='4'?true:false"
                    ng-pattern="/^[a-zA-Z0-9_\u4e00-\u9fa5]{1,50}$/"></textarea>
          <div wd-messages="auditOpinionThr">
            <div wd-message="required">审核意见在审核结论为不通过时为必填项</div>
            <div wd-message="pattern">最多支持50个汉字</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-1 control-label"  style="text-align: left;">审核类型：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">行驶证</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">*审核结论：</label>
        <label for="fourthConclusion" class="col-sm-1 control-label wh100"  style="text-align: left;">
          <select ng-model="supplysourcecheck.inforecord.vehicleLicenseResult" name="fourthConclusion" id="fourthConclusion" class="form-control"  ng-options="item.key as item.value for item in supplysourcecheck.auditconclusion" required>
            <option value="" selected="selected">请选择</option>
          </select>
          <div wd-messages="fourthConclusion">
            <div wd-message="required">审核结论为必填项</div>
          </div>
        </label>
        <label for="auditOpinionFour" class="col-sm-1 control-label ml7"  style="text-align: left;">审核意见：</label>
        <div class="col-sm-4">
          <textarea ng-model="supplysourcecheck.inforecord.vehicleLicenseReason" id="auditOpinionFour" rows="1" name="auditOpinionFour" class="form-control ng-pristine ng-valid" placeholder="最多支持50个汉字"
                    ng-required="supplysourcecheck.inforecord.vehicleLicenseResult=='3'?true:false"
                    ng-disabled="supplysourcecheck.inforecord.vehicleLicenseResult=='4'?true:false"
                    ng-pattern="/^[a-zA-Z0-9_\u4e00-\u9fa5]{1,50}$/"></textarea>
          <div wd-messages="auditOpinionFour">
            <div wd-message="required">审核意见在审核结论为不通过时为必填项</div>
            <div wd-message="pattern">最多支持50个汉字</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-1 control-label"  style="text-align: left;">审核类型：</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">真实头像</label>
        <label  class="col-sm-1 control-label"  style="text-align: left;">*审核结论：</label>
        <label for="fifthConclusion" class="col-sm-1 control-label wh100"  style="text-align: left;">
          <select ng-model="supplysourcecheck.inforecord.memberValidResult" name="fifthConclusion" id="fifthConclusion" class="form-control"  ng-options="item.key as item.value for item in supplysourcecheck.auditconclusion" required>
            <option value="" selected="selected">请选择</option>
          </select>
          <div wd-messages="fifthConclusion">
            <div wd-message="required">审核结论为必填项</div>
          </div>
        </label>
        <label for="auditOpinionFive" class="col-sm-1 control-label ml7"  style="text-align: left;">审核意见：</label>
        <div class="col-sm-4">
          <textarea ng-model="supplysourcecheck.inforecord.memberValidReason" id="auditOpinionFive" rows="1" name="auditOpinionFive" class="form-control ng-pristine ng-valid" placeholder="最多支持50个汉字"
                    ng-required="supplysourcecheck.inforecord.memberValidResult=='3'?true:false"
                    ng-disabled="supplysourcecheck.inforecord.memberValidResult=='4'?true:false"
                    ng-pattern="/^[a-zA-Z0-9_\u4e00-\u9fa5]{1,50}$/"></textarea>
          <div wd-messages="auditOpinionFive">
            <div wd-message="required">审核意见在审核结论为不通过时为必填项</div>
            <div wd-message="pattern">最多支持50个汉字</div>
          </div>
        </div>
      </div>
    </div>
    <!--------------------------------------按钮-------------------------------------------->
      <div class="form-group">
      <div class="col-sm-offset-2" >
        <button class="btn btn-primary" type="submit" style="width: 85px;" ng-submit="supplysourcecheck.submit($event,add_form)" ng-if="supplysourcecheck.sureButton">确定</button>
        <button class="btn btn-primary" type="submit" style="width: 85px;" ng-submit="supplysourcecheck.submit($event,add_form)" ng-if="supplysourcecheck.saveButton" ng-show="supplysourcecheck.addrecordup || supplysourcecheck.addrecorddown">保存</button>
        <button ng-click="supplysourcecheck.closeRecord()" class="btn btn-default" type="reset" style="width: 85px;">取消</button>
      </div>
    </div>
  </form>
</div>
