.tservice-dealorder-small-assign .modal-dialog{width:833px;}
.missFile img{margin-right:5px;}
.nowrapwork a{white-space: nowrap}
.tiplabel{height:17px;}
.assign .userAddressTxt{white-space: normal;text-align: left;}
.dealorder .twoline{height: 34px;text-align: right;}
.dealorder_visit .rateStar{cursor:not-allowed;}
.dealorder_visit .rateStar i{color: red;font-size: 18px;margin-right: 5px;cursor:not-allowed;}
.dealorder_visit .rateStar.allow{cursor:pointer;}
.dealorder_visit .rateStar.allow i{cursor:pointer;}
.assign  .mapWH{
  height: 410px;
  width: 100%;
  overflow:hidden;
}
