.frame-content .content-padding .content-header.mt0{margin-top:0}
th,td{text-align: center;}
.appSearch{position:relative;margin:0 5px;}
.appSearch input{padding-right:30px;}
.appSearch span{position: absolute;top: 7px;right: 7px;display: inline-block;cursor: pointer;font-size: 18px;}
.tservice-app-small-appdriver  .modal-dialog{width:900px;}
.tservice-app-small-appdriver  tr td{border-top:0!important}

//by wurui
.modal .modal-dialog .modal-content .modal-body{word-break: break-all;}
.appCarPhoto{width: 578px;max-height: 200px;overflow: auto}
.appCarList{width: 578px;max-height: 150px;overflow: auto;}
.appCarList .table > tbody > tr > th{border:none;}
.closeButton{position:absolute;top:20px;right:15px;}
