.frame-content .content-padding .content-header.mt0{margin-top:0}
th,td{text-align: center;}
.authenticationSearch{position:relative;margin:0 5px;}
.authenticationSearch input{padding-right:30px;}
.authenticationSearch span{position: absolute;top: 7px;right: 7px;display: inline-block;cursor: pointer;font-size: 18px;}
.tservice-authentication-small-examine .modal-dialog{width:900px;}
.authenticationTime .mp-date-input{width:100%!important;}
