<div>
    <div class="modal-header">
        <h3 class="modal-title">{{vm.title}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
          <div class="col-sm-2 mb10">
            <select ng-change="vm.changeProvince()" ng-model="vm.province" class="form-control" id="pName"
                    ng-options="item.name for item in vm.AreaList">
              <option value="" selected="selected">全选</option>
            </select>
          </div>

          <div class="Hfilter" style="float:left;margin:0 5px;">省</div>

          <div class="col-sm-2 mb10">
            <select ng-change="vm.changeCity()" ng-model="vm.city" class="form-control" id="cName"
                    ng-options="item.name for item in vm.CityList">
              <option value="" selected="selected">全选</option>
            </select>
          </div>

          <div class="Hfilter" style="float:left;margin:0 5px;">市</div>
        </div>
        <form class="form-horizontal">

          <div class="col-sm-12" class="mapWH">
            <div class="mapbg" ng-if="vm.mapbg"></div>
            <div mapbar-map map-id="bmap"></div>
          </div>
          <div class="col-sm-12">
            <label class="col-sm-3 control-label">选择的服务站：</label>
            <div class="col-sm-8"><label class="control-label">{{vm.stationName}}</label></div>
          </div>
          <div class="col-sm-12">
            <label class="col-sm-3 control-label">服务站编码：</label>
            <div class="col-sm-8"><label class="control-label">{{vm.serviceCode}}</label></div>
          </div>
          <div class="col-sm-12 mb20">
            <label class="col-sm-3 control-label">服务站地址：</label>
            <div class="col-sm-8"><input type="text" ng-model="vm.serviceAddress"  class="form-control ng-pristine ng-valid" required></div>
          </div>
          <div style="clear: both;">

          </div>
          <div class="form-group">
              <div class="col-sm-8 col-sm-offset-3">
                  <button class="btn btn-primary" style="width: 85px;" ng-click="vm.addStation()">保存</button>
                  <button ng-click="vm.closeEdit()" class="btn btn-default" type="reset" style="width: 85px;">取消</button>
              </div>
          </div>
        </form>
    </div>
</div>
