.activitiesnew table > tbody > tr > td{border:none;text-align: left;padding:5px;}
/*.bggray{position:absolute;height:100%;width:100%;background:#000;opacity: 0.5;top:0;left:0;z-index: 999}*/
.form-horizontal .radio-inline.padtop0{padding-top:0}
.activeScroll{max-height:300px;overflow:auto;}
.disabledTime{position:absolute;height:100%;top:0;left:0;z-index: 999}
